@import "../bootstrap";
@import "../theme";

.#{$prefix}-bottom-sheet.#{$prefix}-dialog {
  align-self: flex-end;
  border-radius: 0;
  flex: 1 0 100%;
  margin: 0;
  min-width: 100%;
  overflow: visible;
  transition: 0.3s map-get($transition, "fast-in-fast-out");

  &.#{$prefix}-bottom-sheet--inset {
    max-width: 70%;
    min-width: 0;

    @media #{map-get($display-breakpoints, "xs-only")} {
      max-width: none;
    }
  }
}
