@import '../bootstrap';
@import '../theme';

@mixin md-calendar-weekly($material) {
      background-color: map-get(map-get($material, "calendar"), "background-color");
      .#{$prefix}-calendar-weekly__head-weekday {
        border-right: map-get(map-get($material, "calendar"), "line-color") 1px solid;
        color: map-get(map-get($material, "calendar"), "text-color");
        &.#{$prefix}-past {
          color: map-get(map-get($material, "calendar"), "past-color");
        }
        &.#{$prefix}-outside {
          background-color: map-get(map-get($material, "calendar"), "outside-background-color");
        }
      }
      .#{$prefix}-calendar-weekly__day {
        border-right: map-get(map-get($material, "calendar"), "line-color") 1px solid;
        border-bottom: map-get(map-get($material, "calendar"), "line-color") 1px solid;
        color: map-get(map-get($material, "calendar"), "text-color");
        &.#{$prefix}-outside {
          background-color: map-get(map-get($material, "calendar"), "outside-background-color");
        }
      }
    }
    @include theme(md-calendar-weekly, "#{$prefix}-calendar-weekly");

    .#{$prefix}-calendar-weekly {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .#{$prefix}-calendar-weekly__head {
      display: flex;
      user-select: none;
    }

    .#{$prefix}-calendar-weekly__head-weekday {
      flex: 1 0 20px;
      user-select: none;
      padding: $calendar-weekly-weekday-padding;
      font-size: $calendar-weekly-weekday-font-size;
    }

    .#{$prefix}-calendar-weekly__week {
      display: flex;
      flex: 1;
    }

    .#{$prefix}-calendar-weekly__day {
      flex: 1;
      width: 0;
      overflow: hidden;
      user-select: none;
      position: relative;
      padding: $calendar-weekly-day-padding;

      &.#{$prefix}-present {
        .#{$prefix}-calendar-weekly__day-label {
          border: 1px solid currentColor;
        }
        .#{$prefix}-calendar-weekly__day-month {
          color: currentColor;
        }
      }
    }

    .#{$prefix}-calendar-weekly__day-label {
      position: absolute;
      text-decoration: none;
      user-select: none;
      cursor: pointer;
      box-shadow: none;
      text-align: center;
      left: 0;
      top: 0;
      border-radius: $calendar-weekly-day-label-radius;
      width: $calendar-weekly-day-label-size;
      height: $calendar-weekly-day-label-size;
      line-height: $calendar-weekly-day-label-size;

      &:hover {
        text-decoration: underline;
      }
    }

    .#{$prefix}-calendar-weekly__day-month {
      position: absolute;
      text-decoration: none;
      user-select: none;
      box-shadow: none;
      top: 0;
      left: $calendar-weekly-day-month-left;
      height: $calendar-weekly-day-label-size;
      line-height: $calendar-weekly-day-label-size;
    }
