@import '../bootstrap';
@import '../theme';

@mixin md-date-picker-table($material) {
      th, 
      .#{$prefix}-date-picker-table--date__week {
        color: map-get($material, "text.disabled");
      }
    }
    @include theme(md-date-picker-table, "#{$prefix}-date-picker-table");

    .#{$prefix}-date-picker-table {
      position: relative;
      padding: 0 12px;
      height: 242px;

      table {
        transition: $primary-transition;
        top: 0;
        table-layout: fixed;
        width: 100%;
      }

      td, th {
        text-align: center;
        position: relative;
      }

      th {
        font-size: 12px;
      }

      &--date .#{$prefix}-btn {
        height: 32px;
        width: 32px;
      }

      .#{$prefix}-btn {
        z-index: auto;
        margin: 0;
        font-size: 12px;

        &.#{$prefix}-btn--active {
          color: #fff;
        }
      }
    }

    .#{$prefix}-date-picker-table--month {
      td {
        width: 33.333333%;
        height: 56px;
        vertical-align: middle;
        text-align: center;

        .#{$prefix}-btn {
          margin: 0 auto;
          max-width: 160px;
          min-width: 40px;
          width: 100%;
        }
      }
    }

    .#{$prefix}-date-picker-table--date {
      th {
        padding: 8px 0;
        font-weight: 600;
      }

      td {
        width: 45px;
      }
    }

    .#{$prefix}-date-picker-table__events {
      height: 8px;
      left: 0;
      position: absolute;
      text-align: center;
      white-space: pre;
      width: 100%;

      > div {
        border-radius: 50%;
        display: inline-block;
        height: 8px;
        margin: 0 1px;
        width: 8px;
      }
    }

    .#{$prefix}-date-picker-table--date .#{$prefix}-date-picker-table__events {
      bottom: 6px;
    }

    .#{$prefix}-date-picker-table--month .#{$prefix}-date-picker-table__events {
      bottom: 8px;
    }

    .#{$prefix}-date-picker-table--disabled {
      pointer-events: none;
    }
