@import '../bootstrap';
@import '../theme';

      /* Themes */
@mixin md-sheet($material) {
        background-color: map-get($material, "cards");
        border-color: map-get($material, "cards");
        color: map-get(map-get($material, "text"), "primary");
      }
      @include theme(md-sheet, "#{$prefix}-sheet");

      .#{$prefix}-sheet {
        display: block;
        border-radius: $sheet-border-radius;
        position: relative;
        transition: $primary-transition;

        &--tile {
          border-radius: 0;
        }
      }
