@import "../bootstrap";
@import "../theme";

@mixin md-subheader($material) {
  color: map-get($material, "text.secondary");
}
@include theme(md-subheader, "#{$prefix}-subheader");

.#{$prefix}-subheader {
  align-items: center;
  display: flex;
  height: $list-item-single-height;
  font-size: map-get($headings, "body-2.size");
  font-weight: map-get($headings, "body-2.weight");
  padding: 0 $list-right-padding 0 $list-left-padding;

  &--inset {
    margin-left: $subheader-inset-margin;
  }
}
